name: Node.js CI

on:
  push:
    branches:
      - main
      - beta
  pull_request:
    branches:
      - main
      - beta

jobs:
  test-build:
    permissions:
      id-token: write  # Required for OIDC to NPM for publishing
      contents: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'yarn'
      - run: yarn install --frozen-lockfile
      - run: |
          yarn lint
          yarn build
      - name: Semantic release
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: yarn semantic-release
